@{
    ViewData["Title"] = "Questionnaire Result";
}

@model List<Savings>

<h1>Savings List</h1>

<table class="result-tb">
    <thead class="result-thd">
    <tr class="result-tr">
        <th class="result-th">Title</th>
        <th class="result-th">Description</th>
        <th class="result-th">Method</th>
        <th class="result-th">Duration</th>
        <th class="result-th">Eligibility Requirements</th>
        <th class="result-th">CtaUrl</th>
    </tr>
    </thead>
    <tbody class="result-tbd">
    @foreach (var saving in Model)
    {
        <tr class="result-tbd-tr">
            <td class="result-td">@saving.Title</td>
            <td class="result-td">@saving.Description</td>
            <td class="result-td">@saving.Method</td>
            <td class="result-td">@saving.Duration</td>
            <td class="result-td">@saving.EligibilityRequirements</td>
            <td class="result-td">@saving.CtaUrl</td>
        </tr>
    }
    </tbody>
</table>
