@{
    ViewData["Title"] = "Questionnaire Result";
}

@model List<Savings>

<h1>Savings List</h1>

<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Method</th>
        <th>Duration</th>
        <th>Eligibility Requirements</th>
        <th>CtaUrl</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var saving in Model)
    {
        <tr>
            <td>@saving.Title</td>
            <td>@saving.Description</td>
            <td>@saving.Method</td>
            <td>@saving.Duration</td>
            <td>@saving.EligibilityRequirements</td>
            <td>@saving.CtaUrl</td>
        </tr>
    }
    </tbody>
</table>
